/* ContactPage.css */

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin: 10px 0;
}

.contact-info a {
  text-decoration: none;
  color: #007bff;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-info i {
  margin-right: 10px;
}
.please-lead {
  color: black;
}
